<app-toolbar></app-toolbar>

<!-- Sección Hero -->
<section class="hero-section" id="top">
  <div class="hero-content">
    <div class="profile-image zoom-effect hero-fade-in-effect">
      <img src="assets/images/avatar-image.jpeg" [alt]="title" />
    </div>
    <h1 class="title-zoom-effect hero-fade-in-effect">{{ title }}</h1>
    <h2 class="hero-fade-in-effect">{{ role }}</h2>
  </div>
</section>

<app-bio></app-bio>
<app-stacks></app-stacks>
<app-certifications></app-certifications>
<app-contact></app-contact> 